<div class="text-neutral-800">
  @if (election() !== null) {
    @if (election()!.state === 1 && (!hasRegister() && address() !== null)) {
      <span class="block text-center p-4 mb-4 border-[.1em] border-red-600 rounded-md bg-red-600/5 text-red-600 font-medium">Your not register to vote for this election</span>
    }

    @if (election()!.state === 1 && (hasRegister() && !canVote())) {
      <span class="block text-center p-4 mb-4 border-[.1em] border-amber-600 rounded-md bg-amber-600/5 text-amber-600 font-medium">You have already cast your vote for this election</span>
    }

    @if (election()!.state === 2) {
      <span class="block text-center p-4 mb-4 border-[.1em] border-lime-600 rounded-md bg-lime-600/5 text-lime-600 font-medium">This election has been ended</span>
    }

    @if (election()!.state === 0) {
      <span class="block text-center p-4 mb-4 border-[.1em] border-sky-600 rounded-md bg-sky-600/5 text-sky-600 font-medium">The election is in the initiating phase</span>
    }

    @if (!loading()) {
      <h1 class="text-2xl font-medium">{{ election()!.name.toUpperCase() }}</h1>
    } @else {
      <span class="block w-[min(50rem,100%)] h-6 animate"></span>
    }

    <ul class="mt-4 flex flex-col gap-4">
      @if (!loading()) {
       @for (candidate of election()!.candidates; track candidate.id) {
          <li class="flex gap-2 items-center justify-between w-full border-[.1em] border-gray-200 rounded-md p-4">
            <div class="flex flex-col gap-1">
              <span class="text-[1.2rem] font-semibold">{{ candidate.name }}</span>
              <span>{{ 'Vote Count: ' + candidate.voteCount }}</span>
            </div>

            @if (election()!.state === 1 && canVote()) {
              <button class="border-[.1em] border-purple-600 rounded-md text-1rem text-purple-600 font-medium px-2 py-1 cursor-pointer hover:bg-neutral-900/10" (click)="castVoteTx(candidate.id)">Vote</button>
            }
          </li>
        } @empty {
          <li class="w-full border-[.1em] border-gray-200 rounded-md p-4">
            <span>No candidates available for these candidates...</span>
          </li>
        }
      } @else {
        @for (shadow of shadows; track $index) {
          <li class="w-full h-20 animate"></li>
        }
      }
    </ul>

    @if (isAdmin() && election()!.state === 0) {
      <div class="mt-4 flex-wrap flex items-center justify-end gap-4">
        <button class="border-[.1em] border-purple-600 rounded-md text-1rem text-purple-500 font-medium px-2 py-1 cursor-pointer hover:bg-neutral-900/10" (click)="toggleCandidateForm()">Register Candidate</button>
        <button class="border-[.1em] border-purple-600 rounded-md text-1rem text-purple-500 font-medium px-2 py-1 cursor-pointer hover:bg-neutral-900/10" (click)="toggleVoterForm()">Register Voter</button>
        <button class="bg-purple-600 border-[.1em] border-purple-600 rounded-md text-1rem text-white font-medium px-2 py-1 cursor-pointer hover:bg-purple-700 hover:border-purple-700" [class.loading]="processing()" [disabled]="processing()" (click)="startElectionTx()">Start Election</button>
      </div>
    }

    @if (isAdmin() && election()!.state === 1) {
      <div class="mt-4 flex-wrap flex items-center justify-end gap-4">
       <button class="bg-red-600 border-[.1em] border-red-600 rounded-md text-1rem text-white font-medium px-2 py-1 cursor-pointer hover:bg-red-700 hover:border-red-700" [class.loading]="processing()" [disabled]="processing()" (click)="endElectionTx()">End Election</button>
      </div>
    }
  }
</div>

@if (candidateForm()) {
  <div class="fixed top-0 left-0 flex items-center justify-center p-4 w-screen h-full bg-neutral-900/10 z-10">
    <div class="w-[min(100%,500px)] bg-white rounded-lg p-4">
      <h1 class="text-2xl font-medium text-neutral-800">Register Candidate</h1>
        
      <div class="mt-4 flex flex-col gap-1">
        <label class="text-sm" for="name">Candidate Name</label>
        <input class="text-base p-2 border-[.1em] rounded-md outline-none border-gray-200 focus:border-purple-600" id="name" type="text" placeholder="eg.Jhon Doe" required=true #name/>
      </div>

      <div class="mt-4 flex gap-2">
        <button class="border-[.1em] border-purple-600 rounded-md text-1rem text-purple-600 font-medium px-2 py-1 cursor-pointer hover:bg-neutral-900/10 disabled:border-gray-400 disabled:text-gray-400" [disabled]="processing()" type="button" (click)="toggleCandidateForm()">Cancel</button>
        <button class="bg-purple-600 border-[.1em] border-purple-600 rounded-md text-1rem text-white font-medium px-2 py-1 cursor-pointer hover:bg-purple-700 hover:border-purple-700" [class.loading]="processing()" [disabled]="processing() && candidateForm()" (click)="registerCandidateTx(name.value)">Register</button>
      </div>
    </div>
  </div>
}

@if (voterForm()) {
  <div class="fixed top-0 left-0 flex items-center justify-center p-4 w-screen h-full bg-neutral-900/10 z-10">
    <div class="w-[min(100%,500px)] bg-white rounded-lg p-4">
      <h1 class="text-2xl font-medium text-neutral-800">Register Voter</h1>
        
      <div class="mt-4 flex flex-col gap-1">
        <label class="text-sm" for="name">Voter Public Address</label>
        <input class="text-base p-2 border-[.1em] rounded-md outline-none border-gray-200 focus:border-purple-600" id="name" type="text" placeholder="eg.0x00000000...." required=true #address/>
      </div>

      <div class="mt-4 flex gap-2">
        <button class="border-[.1em] border-purple-600 rounded-md text-1rem text-purple-600 font-medium px-2 py-1 cursor-pointer hover:bg-neutral-900/10 disabled:border-gray-400 disabled:text-gray-400" [disabled]="processing()" type="button" (click)="toggleVoterForm()">Cancel</button>
        <button class="bg-purple-600 border-[.1em] border-purple-600 rounded-md text-1rem text-white font-medium px-2 py-1 cursor-pointer hover:bg-purple-700 hover:border-purple-700" [class.loading]="processing() && voterForm()" [disabled]="processing()" (click)="registerVoterTx(address.value)">Register</button>
      </div>
    </div>
  </div>
}