<div class="flex items-center justify-between gap-1 p-4 border-b-[.1em] border-gray-200">
  <h1 class="text-2xl font-semibold text-purple-600">Voating Client</h1>
  @if (address() === null) {
    <button class="bg-purple-600 rounded-md text-base text-white font-medium p-2 cursor-pointer hover:bg-purple-700" (click)="connectWallet()">Connect Wallet</button>
  } @else {
    <span class="bg-purple-600 rounded-md text-base text-white font-medium p-2">{{'Connected: ' + address()!.substring(0,6) + "..." + address()!.substring(address()!.length- 4) }}</span>
  }
</div>

<div class="p-4">
  <router-outlet/>
</div>



@if (electionForm() || connectingWallet()) {
  <div class="top-0 left-0 fixed flex items-center justify-center p-4 bg-neutral-900/10 z-10 w-screen h-screen">
    @if (electionForm()) {
      <div class="w-[min(100%,500px)] bg-white rounded-lg p-4">
        <h1 class="text-2xl font-medium text-neutral-800">Create an Election</h1>
        
        <div class="mt-4 flex flex-col gap-1">
          <label class="text-sm" for="name">Election Name</label>
          <input class="text-base p-2 border-[.1em] rounded-md outline-none border-gray-200 focus:border-purple-600" id="name" type="text" placeholder="eg.University Council Election" required=true #name/>
        </div>

        <div class="mt-4 flex gap-2">
          <button class="border-[.1em] border-purple-600 rounded-md text-1rem text-purple-600 font-medium px-2 py-1 cursor-pointer hover:bg-neutral-900/10 disabled:border-gray-400 disabled:text-gray-400" [disabled]="processing()" type="button" (click)="toggleElectionForm()">Cancel</button>
          <button class="relative bg-purple-600 border-[.1em] border-purple-600 rounded-md text-1rem text-white font-medium px-2 py-1 cursor-pointer hover:bg-purple-700 hover:border-purple-700" [class.loading]="processing()" [disabled]="processing()" (click)="createElectionTx(name.value)">Create</button>
        </div>
      </div>
    }

    @if (connectingWallet()) {
      <div class="w-[min(100%,500px)] bg-white rounded-lg p-4">
        <span class="text-base font-medium text-purple-600">Connecting to Wallet...</span>
      </div>
    }
  </div>
}
